# Ignore everything by default
*

# Allow git files
!readme.md
!manuale.md
!.gitignore
.idea/.gitignore

# Allow directories
!*/

# Allow specific project files and directories
!/app/public/output/**
!/app/src/**
!/app/tests/**
!/app/public/index.php
!/app/public/tests.php
!/app/public/styles.css
!/app/public/tests_styles.css

# Allow nginx configuration
!/conf/nginx/site.conf.hbs

# Allow composer configuration
!/composer.json

# Allow the presentation image
!image.png

# Not allow vendor directory
/app/public/src/vendor/**
**/*/readme.md
tree.txt
repomix-output.txt
**/vendor/**/.gitignore