# Ignore everything by default
*

# Allow git files
!readme.md
!manuale.md
!.gitignore
.idea/.gitignore

# Allow directories
!*/

# Allow specific project files and directories
!/app/public/output/**/2022-2023/** */
!/app/src/**
!/app/tests/**
!/app/public/index.php
!/app/public/styles.css
!/app/public/test_result.php
!/app/phpunit.xml
!/app/public/junit.xml
!/app/composer.json


# Allow nginx configuration
!/conf/nginx/site.conf.hbs

# Allow the presentation image
!image.png
!importa_sito.png

# Not allow vendor directory
/app/public/src/vendor/**
**/*/readme.md
tree.txt
repomix-output.txt
**/vendor/**/.gitignore